// 
// Colors
// 

//- Override and add to color system
$gray: #373A3C;
$lightgray: #424546;
$pie: #F2E7C4;
$dark: #0D0D0D;
$mybrown: #BF9765;
$myyellow: #E8D19F;
$title: #796333;
$white:white;
$link:rgb(0, 0, 255);
$error:rgb(255, 0, 0);

$primary:$pie;
$secondary:$gray;
$info:$lightgray;
$warning:$myyellow;
$danger:$mybrown;

