// 
// Colors
// 

//- Override and add to color system
$gray: #373A3C;
$lightgray: #424546;
$pie: #F2E7C4;
$dark: #0D0D0D;
$mybrown: #BF9765;
$myyellow: #E8D19F;
$white:white;

$primary:$pie;
$secondary:$gray;
$info:$lightgray;
$text:$myyellow;
$warning:$myyellow;
$icons:$mybrown;
$danger:$mybrown;

