// TIPOGRAFIAS
$tipografia_titulos: "serif",
"EB Garamond";

$tipografia_textos: "serif",
"Playfair Display";

$font-family-base:$tipografia_textos;
$headings-font-family:$tipografia_titulos;

.h1-Pol{
    font-size: 60px;
}



