// TIPOGRAFIAS
$tipografia_titulos: "serif",
"EB Garamond";

$tipografia_textos: "serif",
"Playfair Display";

// ESTILO TEXTOS
$negrita: bold;
$cursiva: italic;

// TAMAÑOS TITULOS
$tam_tit_grandes: 60px;
$tam_tit_medianos: 35px;
$tam_tit_pequenos: 25px;

// TAMAÑOS TEXTOS
$tam_text_grandes: 30px;
$tam_text_medianos: 20px;
$tam_text_pequenos: 15px;
$tam_text_extra_pequenos: 10px;




