/* Figma Styles of your File */
:root {
  /* Colors */
  --fondo: #373a3c;
  --secundario: #f2e7c4;
  --black: #0d0d0d;
  --detalles: #bf9765;
  --texto: #e8d19f;

  /* Fonts */
  --playfair-font-family: Playfair-Medium, sans-serif;
  --playfair-font-size: 14px;
  --playfair-line-height: normal;
  --playfair-font-weight: 500;
  --playfair-font-style: normal;

  /* Effects */
}
