//
// Forms
//
textarea {
  resize: none;
  height: 110px;
}

a {
  color: blue;
  text-decoration: none;
}
.form-control, .form-select {
  border-radius: 10px;
  border: 1px solid #ccc;
}

.form-control:focus, .form-select:focus {
  outline: none;
  border-color: $mybrown;
  box-shadow: 0 0 5px $mybrown;
}

.form-label {
  font-size: 1.2rem;
  color: #555;
}
