// 
// Navbar
// 
// Variables
$navbar-bg-color: #373A3C;
$navbar-link-color: #BF9765; 

// Estilos de la barra de navegación
.navbar {
  background-color: $navbar-bg-color;

  .navbar-brand{
    img{
      width: 100px;
    }
  }

  .navbar-nav {
    .nav-link {
      color: $navbar-link-color;
      &:hover {
        color: $navbar-link-color;
      }
    }
  }
  .navbar-toggler {
    border: none;
    color: $navbar-link-color;
    .navbar-toggler-icon {
      filter: brightness(0) invert(1);
    }
  }

}
