/* Footer */
.footer {
    padding-top: 3rem;
    padding-bottom: 3rem;
    background-color: #373A3C;
    color: #E8D19F;
    font-family: $tipografia_textos;
}

.descFooter {
    text-align: justify;
    color: #E8D19F;
}

.logo {
    width: 120px; /* Ajusta el tamaño del logo */
    height: auto;
    margin-right: 8px;
}

.oneo {
    font-size: 64px;
    color: #E8D19F;
}

.texto24 {
    font-size: 24px;
    color: #E8D19F;
}

/* Estilo de los iconos de redes sociales */
.social-icon {
    color: #E8D19F;
    font-size: 16px;
}

.linea {
    width: 1px; 
    border-left: 2px solid white;
}