/* Footer */
.footer {
    padding-top: 3rem;
    padding-bottom: 3rem;
    background-color: $secondary;
    color: $text;
   }

.descFooter {
    text-align: justify;
}

.logo {
    width: 120px;
    margin-right: 8px;
}

.oneo {
    font-size: 64px;
}

.texto24 {
    font-size: 24px;
}

/* Estilo de los iconos de redes sociales */
.social-icon {
    font-size: 16px;
}

.linea {
    width: 1px; 
    border-left: 2px solid white;
}