//MANU
a{
    color: blue;
    text-decoration: none;
}

.index {
  background-color: $lightgray;
  color: $white;
  font-size: 25px;
  font-family: $tipografia_textos;
}

.bg-login {
    background-image: url('/assets/img/imagenInicio.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    border-radius:10px 0 0 10px;
    height: 100vh;
}

.logo-login img {
  width: 100%;
  height: 100px;
  object-fit: cover;
  object-position: center -150px;
  border-radius: 15px;
}

.p-5 {
  padding: 10% !important;
}

.portfolio-main {
  background-image: url("/assets/img/imgMain.webp");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.separator {
  background-color: $white;
  height: 1px;
}

.video {
  width: 300px;
}

//FRAN
$card-font-size: 25px; 
#cardReserva {
  border: none;
  font-family: $tipografia_textos;
  font-size: $card-font-size;
  font-weight: $negrita;
  font-style: $cursiva;
  color: $dark;
}
#cardReserva #titulo {
    font-family: $tipografia_titulos;
    font-weight: $negrita;
}
#cardReserva .card-img-top {
  border: 3px solid $myyellow;
  border-radius: 10px;
}
#cardReserva .card-body {
  border: 3px solid $mybrown;
  border-radius: 10px;
}
.p-4 {
  padding: 50px !important;
}


//ALEX
.body-carta {
    background-image: url("/assets/img/carta/cartafondo.png");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
    height: 100%;
    width: 100%;
    color: $text;
    align-items: center;
}

.title-carta {
  margin-top: 300px; /* Baja el elemento con un margen superior */
}

.subtitle-carta,.title-carta{
  font-family: $tipografia_titulos;
  font-weight: bold;
}

.items-carta {
  font-family: $tipografia_textos;
  text-align: center; 
  display: flex; 
  flex-direction: column; 
  align-items: center; 
}

.item-carta {
  font-family: $tipografia_textos; 
  text-align: justify; 
  max-width: 600px; 
}

.hero-logo-carta {
    display: flex;
    justify-content: center;
    align-items: center; 
    margin-bottom: -20px; 
}

.logo-carta {
    border-radius: 1000000px;
    max-width: 300px;
    transform: translateY(190px);
}

.container-carta {
    background-color: $secondary;
    align-items: center;
    width: 80%;
    margin: 0 auto;
    height: 100%;
    border-radius: 15px;
    overflow: hidden;
    padding-top: 20px;
}

.section-image-carta{
    width: 50%; 
    max-width: 200px;
}
