
main {
    background-color: #444;
    color: white;
}

.p-5{
    padding: 10% !important;
}

.portfolio-main {
    background-image: url("/assets/img/imgMain.webp");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.separator{
    background-color: white;
    height: 1px;
}

.video {
    width: 300px;
}